<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name , class: "control-label"%>
    <%= f.text_field :name ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :age , class: "control-label"%>
    <%= f.number_field :age ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :email_id , class: "control-label"%>
    <%= f.text_field :email_id ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :location , class: "control-label"%>
    <%= f.text_field :location ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :department , class: "control-label"%>
    <%= f.text_field :department ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :designation , class: "control-label"%>
    <%= f.text_field :designation ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "Save",class: "btn btn-primary"%>
  </div>
<% end %>
